.flexcol {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 10px;
}

.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.border {
  width: 120px;
  border: 1px solid black;
}

.center {
  text-align: center;
}