<h1>Online ресурсы для верстальщика</h1>

<div class="content__menu">
  <p class="content__menu-link" id="content__menu-link1">Validator</p>
  <p class="content__menu-link" id="content__menu-link2">Code guide</p>
  <p class="content__menu-link" id="content__menu-link3">Logo</p>
  <p class="content__menu-link" id="content__menu-link4">Fonts</p>
  <p class="content__menu-link" id="content__menu-link5">Icons</p>
  <p class="content__menu-link" id="content__menu-link6">favicon</p>
  <p class="content__menu-link" id="content__menu-link7">Background</p>
  <p class="content__menu-link" id="content__menu-link8">Colors</p>
  <p class="content__menu-link" id="content__menu-link9">Макеты для верстки</p>
  <p class="content__menu-link" id="content__menu-link10">CSS и JS</p>
</div>

<div class="content__items">
  <div class="content__item" id="content__item1">
    <h3>Validator</h3>
    <ol>
      <li><a href="https://caniuse.com/">caniuse.com</a></li>
      <li><a href="https://www.mydevice.io/">mydevice.io</a></li>
      <li><a href="https://validator.w3.org/">validator.w3.org</a><br>Markup Validator (HTML, XHTML, MathML)</li>
      <li><a href="https://jigsaw.w3.org/css-validator/">jigsaw.w3.org/css-validator</a><br>CSS Validator</li>
      <li><a href="https://jsonlint.com/">jsonlint.com</a><br>JSON Validator</li>
    </ol>
  </div>

  <div class="content__item" id="content__item2">
    <h3>Code guide</h3>
    <ol>
      <li><a href="https://codeguide.academy/">codeguide.academy</a></li>
    </ol>
  </div>

  <div class="content__item" id="content__item3">
    <h3>Logo</h3>
    <ol>
      <li><a href="https://www.logodesign.net/">logodesign.net</a></li>
      <li><a href="https://gfto.ru/index/graffitit_text_maker/0-139">gfto.ru</a></li>
      <li><a href="https://maketext.io/">maketext.io</a></li>
    </ol>
  </div>

  <div class="content__item" id="content__item4">
    <h3>Fonts</h3>
    <ol>
      <li><a href="https://fonts.google.com">fonts.google.com</a><br>шрифты google</li>
      <li>
        <a href="https://gwfh.mranftl.com/fonts">gwfh.mranftl.com/fonts</a>
        <br>google-webfonts-helper скачать и подключить
      </li>
      <li><a href="https://fontstorage.com/ru/">fontstorage.com</a><br>шрифты fontstorage</li>
      <li><a href="https://www.font2web.com/">font2web.com</a><br>шрифты font2web</li>
      <li><a href="https://webfonts.pro">webfonts.pro</a><br>шрифты webfonts</li>
      <li><a href="https://icomoon.io/">icomoon.io</a><br>иконочные шрифты</li>
    </ol>
    <h3>Icon Fonts Иконочные шрифты</h3>
    <ol>
      <li><a href="https://fontawesome.ru/">fontawesome.ru</a><br>иконочные шрифты</li>
      <li><a href="https://fontawesome.com/">fontawesome.com</a><br>иконочные шрифты</li>
      <li><a href="https://icomoon.io/">icomoon.io</a><br>иконочные шрифты</li>
    </ol>
  </div>

  <div class="content__item" id="content__item5">
    <h3>Icons Иконки</h3>
    <ol>
      <li><a href="https://www.flaticon.com/">flaticon.com</a><br>png бесплатно, svg платно</li>
      <li><a href="https://icons8.ru/">icons8.ru</a><br>png svg бесплатно, можно выбрать размер</li>
      <li><a href="https://icon-icons.com/ru/">icon-icons.com</a><br>png ico бесплатно, svg нет</li>
      <li><a href="https://svgpng.ru/">svgpng.ru</a></li>
      <li><a href="https://www.svgrepo.com/">svgrepo.com</a></li>
    </ol>
  </div>

  <div class="content__item" id="content__item6">
    <h3>Favicon</h3>
    <ol>
      <li><a href="https://favicon.io/">favicon.io</a></li>
      <li><a href="https://www.favicon.by/">favicon.by</a></li>
      <li><a href="https://www.favicon.cc/">favicon.cc</a></li>
    </ol>
  </div>

  <div class="content__item" id="content__item7">
    <h3>Remove background</h3>
    <ol>
      <li><a href="https://www.remove.bg/ru">remove.bg</a></li>
    </ol>
  </div>

  <div class="content__item" id="content__item8">
    <h3>Colors Цвета для страницы</h3>
    <ol>
      <li>
        <a href="https://encycolorpedia.ru/">encycolorpedia.ru</a>
        <br>color
      </li>

      <li>
        <a href="https://colorscheme.ru/html-colors.html">colorscheme.ru</a>
        <br>colorscheme.ru
      </li>

      <li>
        <a href="https://derzky.ru/generator-css-filtrov-dlja-zadannogo-cveta/">Генератор цветовых CSS фильтров из
          заданного цвета</a>
        <br><a href="https://cssmatic.com/box-shadow/">Генератор тени в CSS</a>
      </li>
    </ol>
  </div>

  <div class="content__item" id="content__item9">
    <h3>Макеты для верстки</h3>
    <ol>
      <li><a href="https://www.frontendmentor.io/">frontendmentor.io</a></li>
    </ol>
  </div>

  <div class="content__item" id="content__item10">
    <h3>Как сделать ... на чистом CSS и JS </h3>
    <ol>
      <li>Анимация кнопки
        <p><a
            href="https://www.whitelabeldevelopers.ru/articles/20-udivitelnyix-animirovannyix-knopok-na-chistom-css">20
            УДИВИТЕЛЬНЫХ АНИМИРОВАННЫХ КНОПОК НА ЧИСТОМ CSS (whitelabeldevelopers.ru)</a></p>
        <p><a href="https://www.creativosonline.org/ru/botones-css-gratuitos.html">41 бесплатная кнопка CSS с небольшим
            количеством JavaScript</a></p>
      </li>

      <li>Анимация элементов при скролле
        <p><a href="https://webgolovolomki.com/poyavlenie-elementov-pri-skrolle/">Появление элементов при скролле
            (2021-01-16)</a></p>
        <p><a href="https://xhtml.ru/2021/css/how-to-trigger-a-css-animation-on-scroll/">Как запускать CSS-анимацию при
            прокрутке страницы (2021-04-27)</a></p>
      </li>

      <li>Бургер меню
        <p><a href="https://webgolovolomki.com/kak-sdelat-gamburger-menyu-gotovyj-kod-i-podrobnoe-obyasnenie/">Как
            сделать гамбургер (бургер) меню — готовый код и подробное объяснение (2020-11-25)</a></p>
        <p><a href="https://codelab.pro/prostoe-burger-menyu-na-chistom-javascript/">Простое бургер-меню на чистом
            JavaScript (2022-03-16)</a></p>
      </li>

      <li>Липкий header
        <p><a href="https://html5css.ru/howto/howto_js_sticky_header.php">Как сделать - фиксированный/липкий заголовок
            (html5css)</a></p>
        <p><a href="https://webref.ru/course/position/sticky">Липкое позиционирование (webref)</a></p>
      </li>

      <li>Модальное окно
        <p><a
            href="https://prog-time.ru/modalnoe-okno-na-chistom-javascript-prostoe-modalnoe-ovno-dlya-sajta/">Модальное
            окно на чистом JavaScript (2019-05-28)</a></p>
        <p><a href="https://webdevtips.pro/js/pure-js-popup/">Попап на чистом JS (2021-07-04)</a></p>
      </li>

      <li>Слайдер
        <p><a href="https://itchief.ru/javascript/slider">Слайдер для сайта на CSS и JavaScript</a></p>
        <p><a href="https://lantana-studio.ru/howto/simpleslider/">Простой слайдер на чистом javascript</a></p>
      </li>

    </ol>
  </div>
</div>