/*********************
settings
*********************/
.set-up-btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

@media (max-width: 580px) {
  .set-up-btn {
    justify-content: center;
  }
}

@media (max-width: 580px) {
  .set-section {
    justify-content: center;
  }
}
/*---------------*/

/* Конец settings */

@import 'set-btn/set-btn';
@import 'set-color/set-color';
@import 'set-view/set-view';
@import 'theme/_theme';
@import 'snow/_snow';
@import 'search-btn/search-btn';