/*********************
_social-icons.scss
*********************/

.social__icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: top;
  color: #fff;
  border-radius: 4px;
}

@media (max-width: 580px) {
  .social {
    text-align: center;
  }
}
/*---------------*/

.social a:hover {
  opacity: .6;
}

.social__icon_vk {
  background-image: url(vk24.svg);
}

.social__icon_github {
  background-image: url(gh24.svg);
  background-color: #000;
}

.social__icon_cf {
  background-image: url(cf24.svg);
  background-color: #fff;
}

.social__icon_wa {
  background-image: url(wa24.svg);
  background-color: #65bc54;
}

.social__icon_tg {
  background-image: url(tg24.svg);
}

.social__icon_dc {
  background-image: url(dc24.svg);
  background-repeat: no-repeat;
  background-color: #fff;
}

.social__icon_cw {
  background-image: url(cw24.svg);
}

.social__icon_lc {
  background-image: url(lc24.svg);
}

.social__icon_cp {
  background-image: url(cp24.svg);
}

.social__icon_replit {
  background-image: url(replit24.svg);
}

.social__icon_yt {
  background-image: url(yt24.svg);
  background-color: #fff;
}


/* Конец _social-icons.scss */