/* Таблица в html */
.table table {
  border: 1px solid black;
}

.table .col-1 {
  width: 100px;
  background-color: #c4daff;
}

.table .col-2 {
  width: 100px;
  background-color: bisque;
}

.table .col-3 {
  width: 100px;
  background-color: aqua;
}

/* Таблица в html */