/*********************
set-btn.scss
*********************/

.set-btn {
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-image: url(./assets/set_white.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

/* Конец set-btn.scss */