.copy-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
}

.copy-to-clipboard {
  width: 30px;
  text-align: center;
  background-color: aquamarine;
  border-radius: 10px;
  cursor: pointer;
}