.header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

@media (max-width: 580px) {
  .header-fixed {
    position: static;
  }
}

.header {
  margin: 0;
  padding: 0;
}

/*********************
header__1
*********************/

.header__1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0.5em 0;
  padding: 0 10px;
  font-family: monospace, sans-serif;
}

@media (max-width: 580px) {
  .header__1 {
    gap: 10px;
    max-width: 90vw;
  }

  .header__logo {
    text-align: center;
  }

  .header__nav {
    text-align: center;
  }
}
/*---------------*/


.header__logo {
  display: block;
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.header__nav {
  font-size: 20px;
}

.header__nav a {
  margin-left: 5px;
  padding-bottom: 3px;
  color: #fff;
  text-decoration: none;
}

.header__nav a.active,
.header__nav a:hover {
  border-bottom: 3px solid white;
}
/* Конец header__1 */


/*********************
header__2
*********************/
.header__2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 5px 10px;
}

@media (max-width: 580px) {
  .header__2 {
    gap: 20px;
    max-width: 90vw;
  }
}
/*---------------*/

/* Конец header__2 */