.btn-up {
  padding: 10px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  opacity: 50%;
  font-size: 20px;
  cursor: pointer;
  color: #FFF;
  border: 2px white solid;
  border-radius: 10px;
  background-color: #222;
  transition: opacity 1s;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.btn-up:hover {
  opacity: 100%;
  animation: pulse 0.7s linear infinite;
}