/*********************
Global
*********************/

* {
  box-sizing: border-box;
}

::selection {
  /* псевдокласс выделения */
  color: #fff;
  background-color: #2B7DED;
}

/* font*/
html {
  font-family: 'Roboto Serif', 'Times New Roman', serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: Roboto, Arial, sans-serif;
}

@media (max-width: 992px) {
  html {
    font-size: 1rem;
  }
}

//мобильная версия
@media (max-width: 580px) {
  html {
    font-size: 0.8rem;
  }
}

body {
  margin: 0;
  padding: 0;
}

/* Конец Global */