/* code-js */
.flex-keywords {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.tr-space {
  height: 5px;
  background-color: #84ed84;
}

td {
  align-items: start;
}
/* code-js */